html,
body,
.app {
  height: 150vh;
  background: floralwhite;
  padding: 1em;
  position: fixed; /* optional depending on what you want to do in your app */
}

#background-video{

  height: 100%;
  width: 120%;
  top: 80px;
  position: fixed; /* optional depending on what you want to do in your app */

}
